@model LightSotre.Models.Urun

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/HomeLayout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategore.KategoreIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategore.KategoreIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.urunOzellikler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.urunOzellikler)
        </dd>
        <dd>
            <div class="tshirt_img"><img src="@Html.DisplayFor(model => model.urunImage)"></div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
